.mortgage-calculator-box {
  padding: 20px 20px 60px;
  position: relative;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 31px 0 rgba(7,152,255,.09);  
  border: 1px solid #f1f8ff;
}
.mortgage-calculator-box .result-calc {
  height: 50px;
  background-color: #1fb7a6;
  color: #ffffff;
  padding: 14px 20px;
  font-size: 18px;
  position: absolute !important;
  top: auto;
  right: -1px;
  bottom: 0;
  left: -1px;
  z-index: 1;
}
.mortgage-calculator-box #mortgage-calc {
  position: absolute !important;
  top: auto;
  right: 6px;
  bottom: 8px;
  left: auto;
  z-index: 6;
}
.mortgage-calculator-box label {
  font-size: 15px;
}