/* 2.1 SEARCHER BOX
================================== */
#rem-search-box {
  height: 90px;
  /* .search-container */
}
#rem-search-box.no-margin {
  height: auto !important;
}
#rem-search-box .rem-search-1 {
  height: 1px;
  position: relative;
  height: 172px;
}
#rem-search-box .rem-search-1 .search-options {
  height: auto;
  /*overflow: hidden;*/
  min-height: 43px;
  /*position: absolute !important;*/
  top: auto;
  right: 0;
  bottom: 80px;
  left: 0;
  z-index: 1;
  /* .searcher */
}
#rem-search-box .rem-search-1 .search-options.sample-page {
  bottom: 4px;
  border: 1px solid #eee;
}
#rem-search-box .rem-search-1 .search-options .botton-options-inactive,
#rem-search-box .rem-search-1 .search-options .botton-options {
  text-transform: uppercase;
  display: block;
  height: 43px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 11px 24px 0 46px;
  background-color: rgba(24, 139, 126, 0.8);
  position: absolute !important;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  -webkit-border-radius: 2px 2px 0 0;
  -khtml-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
#rem-search-box .rem-search-1 .search-options .botton-options-inactive:hover,
#rem-search-box .rem-search-1 .search-options .botton-options:hover {
  background-color: rgba(16, 96, 87, 0.9);
}
#rem-search-box .rem-search-1 .search-options .botton-options-inactive i,
#rem-search-box .rem-search-1 .search-options .botton-options i {
  position: absolute !important;
  top: 15px;
  right: auto;
  bottom: auto;
  left: 18px;
  z-index: 1;
}
#rem-search-box .rem-search-1 .search-options .searcher {
  padding-top: 36px;
  /* border: 1px solid #E5E5E5; */
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.96);
}
#rem-search-box .rem-search-1 .search-options .searcher .margin-div {
  padding-left: 32px;
  padding-right: 32px;
}
#rem-search-box .rem-search-1 .search-options .searcher .footer {
  background-color: rgba(220, 220, 220, 0.5);
  height: 84px;
  padding: 22px 32px 0;
  margin-bottom: 0;
}
#rem-search-box .rem-search-1 .search-options .searcher .price {
  font-size: 13px;
}
#rem-search-box .rem-search-1 .search-options .searcher .price .more-button {
  width: 120px;
  padding-left: 32px;
  float: left;
}
#rem-search-box .rem-search-1 .search-options .searcher .price .more-button:after {
  font-family: 'FontAwesome';
  position: absolute !important;
  top: 4px;
  right: auto;
  bottom: auto;
  left: 12px;
  z-index: 1;
  content: "\f107";
  font-size: 18px;
}
#rem-search-box .rem-search-1 .search-button {
  float: right;
  text-transform: uppercase;
  padding: 10px 14px;
}
#rem-search-box .rem-search-1 .search-options .searcher .sercher-margin-bottom {
  padding-bottom: 4px;
  border-bottom: 1px solid #E5E5E5;
}
#rem-search-box .rem-search-1 .search-options .searcher .filter,
#rem-search-box .rem-search-4 .filter {
  max-height: 1800px;
  overflow: hidden;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
}
#rem-search-box .rem-search-1 .search-options .searcher .filter:not(.hide-filter),
#rem-search-box .rem-search-4 .filter:not(.hide-filter) {
  overflow: visible;
}
#rem-search-box .rem-search-1 .search-options .searcher .filter:not(.hide-filter) {
  padding: 0 32px 20px;
}
#rem-search-box .rem-search-1 .search-options .searcher .filter.hide-filter,
#rem-search-box .rem-search-4 .filter.hide-filter {
  border-bottom: none;
  max-height: 0;
}
#rem-search-box .rem-search-1 .search-options .searcher .filter label {
  margin: 20px 0 5px;
}
#rem-search-box .rem-search-1 .search-options .searcher .dropdown {
  margin-bottom: 30px;
}
#rem-search-box .rem-search-1.fixed-map {
  height: auto;
  margin-bottom: 15px;
}
/* #rem-search-box */
.ads-type {
  background-color: #1fb7a6;
  position: relative;
  z-index: 12;
  margin: 0 -15px;
  padding: 0 40px;
  height: 80px;
  overflow: hidden;
}
.ads-type a.item-type {
  height: 80px;
  display: block;
  padding: 20px 0 20px 70px;
  background-color: #1ba192;
  background-image: url(../../images/icon-property.png);
  background-repeat: no-repeat;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  border-right: 1px solid #1eb3a2;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
}
.ads-type a.item-type:hover {
  background-color: #1a988a;
}
.ads-type a.item-type.item-selected {
  background-color: #188b7e;
}
.ads-type a.item-type.item-selected:after {
  content: "";
  position: absolute !important;
  top: 6px;
  right: 6px;
  bottom: auto;
  left: auto;
  z-index: 1;
  width: 16px;
  height: 16px;
  background-image: url(../../images/icon-property.png);
  background-position: right bottom;
}
.ads-type .icon-1 {
  background-position: 10px 7px;
}
.ads-type .icon-2 {
  background-position: 10px -61px;
}
.ads-type .icon-3 {
  background-position: 10px -125px;
}
.ads-type .icon-4 {
  background-position: 10px -192px;
}
.ads-type .icon-5 {
  background-position: 10px -259px;
}
.ads-type .icon-6 {
  background-position: 10px -326px;
}
.ads-type .title {
  display: block;
  font-size: 20px;
  line-height: 1.2;
}
.ads-type span.sub-title {
  font-size: 11px;
  display: block;
}
.ads-type .nav-box a {
  background-image: url(../../images/icon-slider.png);
  background-color: #1daa9a;
  display: block;
  width: 40px;
  height: 80px;
  position: absolute !important;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
}
.ads-type .nav-box a:hover,
.ads-type .nav-box a:focus {
  background-color: #1ba192;
}
.ads-type .nav-box .previous {
  background-position: left top;
  border: 1px solid #20c0ae;
  border-right: 1px solid #1eb3a2;
  border-top: none;
  border-bottom: none;
  left: 0;
}
.ads-type .nav-box .next {
  background-position: right top;
  border-right: 1px solid #20c0ae;
  right: 0;
}
.search-box-page .space-div {
    padding-bottom: 20px;
}
/*
    for conditions css
*/
.rem-field-hide {
    display: none;
}
.rem-field-show {
    display: block;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item {
  cursor: pointer;
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item:hover, .ui-autocomplete .ui-menu-item:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
.searcher .margin-div.footer br {
    display: none;
}
.price-slider .any-check {
  position: absolute;
  left: 14px;
  top: 12px;
  cursor: pointer;
  font-weight: normal;
}
.rem-widget-search .any-check {
    position: absolute;
    top: 50px;
}

#rem-search-box .rem-search-2 .search-button {
  float: none;
  text-transform: uppercase;
  padding: 0;
  width: 100%;
  height: 36px;
}

#rem-search-box .rem-search-2 .padding-none {
  padding-left: 0;
  padding-right: 0;
}

#rem-search-box .rem-search-2 .padding-none:first-child {
  padding-left: 15px;
}

#rem-search-box .rem-search-2 .padding-none:last-child {
  padding-right: 15px;
}

#rem-search-box .rem-search-2 .dropdown .carat {
  border-left: 0;
}

#rem-search-box .rem-search-2 .dropdown.open .carat {
  background: transparent;
}

@media (max-width: 991px){
  #rem-search-box .rem-search-2 .padding-none:first-child {
    padding-left: 0;
  }

  #rem-search-box .rem-search-2 .padding-none:last-child {
    padding-right: 0;
  }
}

.searcher .margin-bottom {
  margin-bottom: 20px;
}
.rem-min-max-number-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.rem-title-number-field {
  padding-right: 8px;
  padding-left: 8px;
  align-items: center;
  display: flex;
  text-align: center;
}