#property-content {
  padding: 30px 0 30px;
  width: 100%;
}
.single-property-page-ribbon {
    padding: 0 0 20px 0;
    position: absolute;
    right: 80px;
    top: 0;
    width: 80px;
    z-index: 9;
}

#property-content .fotorama-custom {
  visibility: hidden;
}

.single-property-page-ribbon div {
    height: 70px;
    padding-top: 40px;
  color: #fff;
  text-align: center;
}
.single-property-page-ribbon div:after {
  border-left: 40px solid #bb3a34;
  border-right: 40px solid #bb3a34;
  border-bottom: 20px solid transparent;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}
#property-content .large-price {
  font-size: 30px;
  background-color: #1fb7a6;
  display: block;
  color: #FFF;
  padding: 4px 16px;
  margin-top: 38px;
  position: absolute !important;
  top: 0;
  right: auto;
  bottom: auto;
  left: -15px;
  z-index: 5;
}
#property-content .feedback .user-feedback {
  height: 135px;
  background-color: #999;
  position: relative;
  border: 1px solid #E5E5E5;
  background-color: #FEFEFE;
  margin-bottom: 20px;
}
#property-content .feedback .user-feedback span {
  display: block;
  margin: 0 10px 0 110px;
}
#property-content .feedback .user-feedback .avatar {
  margin-left: 0 !important;
  position: absolute !important;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100px;
}
#property-content .feedback .user-feedback .name {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 12px;
}
#property-content .feedback .user-feedback .text {
  font-size: 14px;
  line-height: 1.2;
  overflow: hidden;
  margin-bottom: 4px;
  padding-bottom: 10px;
}
#property-content .feedback .user-feedback .vote {
  position: absolute !important;
  top: auto;
  right: 0;
  bottom: 0;
  left: 100px;
  z-index: 1;
  color: #1fb7a6;
  margin: 0;
  text-align: center;
  font-size: 16px;
  background-color: #F7F7F7;
  border-top: 1px solid #F0F0F0;
  padding: 1px 6px 3px;
}
#property-content .feedback .user-feedback .vote i {
  margin-right: 1px;
}
#property-content .rating {
  padding: 0;
  margin: 15px 0 30px;
  font-size: 14px;
}
#property-content .rating .value {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
#property-content .rating .name {
  position: absolute !important;
  top: 2px;
  right: auto;
  bottom: auto;
  left: 4px;
  z-index: 1;
  display: block;
}
#property-content .rating .count {
  position: absolute !important;
  top: 2px;
  right: 4px;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
  width: 30px;
  text-align: left;
}
#property-content .rating .graphic {
  position: relative;
  display: block;
  margin: 0 40px 0 76px;
  height: 22px;
  background-color: #EBEBEB;
}
#property-content .rating .graphic .percent {
  position: absolute !important;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 10%;
  background-color: #1fb7a6;
}
#property-content .map-container,
#rem-property-content .map-container {
  height: 345px;
  width: 100%;
}
#property-content .details .detail {
  position: relative;
  display: block;
  padding: 2px 5px;
  border: 1px solid #F5F5F5;
  padding: 3px 0 3px 26px;
  margin-bottom: 6px;
  line-height: 1.2;
  font-size: 14px;
}
#property-content .details .rem-field-value {
  padding: 6px 15px;
}
#property-content .details .detail i {
  position: absolute !important;
  top: 6px;
  right: auto;
  bottom: auto;
  left: 9px;
  z-index: 1;
  color: #BBB;
  font-size: 10px;
}
#property-content .details .detail .fa-square {
  color: #1fb7a6;
}
#property-content .description {
  font-size: 17px;
  text-align: justify;
}
#property-content .agent-box-card {
  margin-bottom: 0;
}
.video-wrap iframe {
  width: 100% !important;
}
.video-wrap .rem-iframe {
    height: 350px;
}
.file-type-icon {
  display: block;
  margin: 0 auto;
  position: relative;
  color: black;
  height: 55px;
}
.file-type-icon::before {
  position: absolute;
  width: 33px;
  height: 38px;
  left: 0;
  top: -7px;
  content: '';
  border: solid 2px #920035;
}
.file-type-icon::after {
  content: 'file';
  content: attr(filetype);
  left: -4px;
  padding: 0px 2px;
  text-align: right;
  line-height: 1.3;
  position: absolute;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  top: 9px;
}
.file-type-icon .fileCorner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0 0 11px;
  border-color: white transparent transparent #920035;
  position: absolute;
  top: -7px;
  left: 22px;
}
.rem-attachment-icon a {
  margin-left: 45px;
}
.rem-attachment-icon {
  height: 45px;
}

/* Icons Colors */
.file-type-icon.zip::before {
  border: solid 2px #6082AF;
}
.file-type-icon.zip::after {
  background-color: #6082AF;
}
.file-type-icon.zip .fileCorner {
  border-color: white transparent transparent #6082AF;
}
.file-type-icon.mp3::before {
  border: solid 2px #1584DD;
}
.file-type-icon.mp3::after {
  background-color: #1584DD;
}
.file-type-icon.mp3 .fileCorner {
  border-color: white transparent transparent #1584DD;
}
.file-type-icon.jpg::before {
  border: solid 2px #208895;
}
.file-type-icon.jpg::after {
  background-color: #208895;
}
.file-type-icon.jpg .fileCorner {
  border-color: white transparent transparent #208895;
}
.file-type-icon.pdf::before {
  border: solid 2px #AA0000;
}
.file-type-icon.pdf::after {
  background-color: #AA0000;
}
.file-type-icon.pdf .fileCorner {
  border-color: white transparent transparent #AA0000;
}
.file-type-icon.ppt::before {
  border: solid 2px #D14424;
}
.file-type-icon.ppt::after {
  background-color: #D14424;
}
.file-type-icon.ppt .fileCorner {
  border-color: white transparent transparent #D14424;
}
.floorplans-container a {
      border-radius: 0 !important;
}
.floorplans-container .tab-content {
      margin-top: 10px;
}
.wrap-slider {
  position: relative;
}
.wrap-slider .grid-custom > img {
  display: none;
}
.wrap-slider .slick-custom .slick-arrow,
.rem-additional-gallery .slick-arrow {
  z-index: 1;
  height: 80px;
  background-color: #fffefeab;
  padding: 10px 0;
  width: 35px;
}
.wrap-slider .slick-custom .slick-prev,
.rem-additional-gallery .slick-prev {
  left: 10px;
}
.wrap-slider .slick-custom .slick-next,
.rem-additional-gallery .slick-next {
  right: 10px;
}
.wrap-slider .slick-custom .slick-arrow:hover,
.rem-additional-gallery .slick-arrow:hover {
  background-color: #fff;
}
.wrap-slider .slick-custom .rem-slider-image {
  cursor: zoom-in;
}
.ich-settings-main-wrap .wrap-slider .slick-custom .slick-prev:before,
.rem-additional-gallery .slick-prev:before {
  content: "\e257";
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  color: #000;
}
.ich-settings-main-wrap .wrap-slider .slick-custom .slick-next:before,
.rem-additional-gallery .slick-next:before {
  content: "\e258";
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  color: #000;
}
.rem-additional-gallery .slick-slide img {
  max-width: 100% !important;
  height: auto;
}
.rem-energy-wrapper {
  padding-top: 60px;
  position: relative;
  margin: 50px 0 0 0 !important;
  width: 100%;
  border: none;
}

.rem-energy-wrapper td {
  text-align: center;
  position: relative;
}

.rem-energy-eff-wrap:nth-child(1) {
  background-color: #33a357;
}

.rem-energy-eff-wrap:nth-child(2) {
  background-color: #79b752;
}

.rem-energy-eff-wrap:nth-child(3) {
  background-color: #c3d545;
}

.rem-energy-eff-wrap:nth-child(4) {
  background-color: #fff12c;
}

.rem-energy-eff-wrap:nth-child(5) {
  background-color: #edb731;
}

.rem-energy-eff-wrap:nth-child(6) {
  background-color: #d66f2c;
}

.rem-energy-eff-wrap:nth-child(7) {
  background-color: #dc454b;
}

.rem-energy-eff-wrap:nth-child(8){
  background-color: #cf3037;
}

.rem-energy-eff-wrap:nth-child(9) {
  background-color: #cc232a;
}

.rem-energy-eff-wrap:nth-child(10) {
  background-color: #b22026;
}

.rem-energy-eff-wrap span {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #fff
}

.rem-marker-energy {
  font-size: 13px;
  line-height: 30px;
  top: -48px;
  padding: 0 10px;
  white-space: nowrap;
  color: #fff;
  background-color: #999;
  position: absolute;
}

.rem-marker-energy:before {
  bottom: -10px;
  content: '';
  border-top: 10px solid #999;
  position: absolute;
}

@media (max-width: 481px) {
  .rem-energy-wrapper td {
    position: static;
  }

  .rem-marker-energy {
    top: -40px;
    right: 0 !important;
    left: 0 !important;
  }
}
.ich-settings-main-wrap .rem-sec-icon {
  max-height: 20px !important;
}
.ich-settings-main-wrap .rem-restricted-content {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #e5dede;
  padding: 10px 20px 0 20px;
}

.child-fields-wrap {
  float: right;
}

.ich-settings-main-wrap .child-listings-wrap .panel {
  margin-bottom: 10px;
}

.ich-settings-main-wrap .child-listings-wrap .panel-heading {
  cursor: pointer;
}

.child-listings-wrap .panel-body {
  display: none;
}

.rem-child-listing-content {
  text-align: center;
}
.rem-child-listing-content img {
  margin-bottom: 10px;
  max-width: 100% !important;
  height: auto;
}

.rem-single-listing-1 h1 {
  margin: 0;
  font-size: 20px;
}

.rem-single-listing-1 .badge-under-heading {
  font-size: 12px;
  padding: 7px 10px 6px;
  margin: 10px 0 12px;
  display: inline-block;
  text-transform: uppercase;
  padding: 3px 5px;
  background-color: rgba(0,0,0,.65);
  color: #FFF;
  border-radius: 2px;
}

.rem-single-listing-1 address {
  font-size: 15px;
  margin-bottom: 0;
}

.rem-single-listing-1 .rem-listing-price {
  font-size: 30px;
  color: #222222;
  font-weight: 600;
}
.rem-single-listing-1 .large-price {
  display: none !important;
}

.bg-white {
  background-color: #FFFFFF;
}

.rem-listing-top {
  padding: 20px 0;
}

.rem-listing-content {
  background-color: #F7F8F9;
}

.rem-listing-gallery {
  padding-bottom: 30px;
}

.rem-block-wrap,
.rem-single-listing-1 .rem-section-box {
  background-color: #FFFFFF;
  margin-top: 30px;
  padding: 40px;
  border-radius: 4px;
  position: relative;
}

.rem-block-wrap h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.rem-single-listing-1 .agent-contact-wrapper {
  margin-top: 30px;
}
.rem-single-listing-1 .agent-card-6 {
  border-radius: 4px;
}

.rem-single-listing-1 .contact-agent,
.rem-single-listing-1 .search-box-page,
.rem-single-listing-1 .rem-recent-properties,
.rem-single-listing-1 .mortgage-calculator-box,
.rem-single-listing-1 .rem-tag-cloud,
.rem-single-listing-1 .agent-contact-wrapper {
  background-color: #FFF;
  border: none !important;
  box-shadow: none !important;
}

.rem-single-listing-1 .section-title.line-style,
.rem-single-listing-1 .section-title.line-style .title {
  border: none !important;
  margin: 0;
  padding: 0;
  position: relative !important;
  min-height: auto;
}
.rem-single-listing-1 .section-title.line-style .title {
  font-size: 18px;
  margin-bottom: 20px !important;
  float: none;
  color: inherit;
  background: transparent;
  bottom: 0;
}
.rem-single-listing-1 .property-features-container .fa-square:before {
  content: "\f058";
}
.property-features-container strong {
  margin: 10px 0;
  display: inline-block;
}
.property_detail_cbs strong {
  display: none;
}
.rem-single-listing-1 #rem-property-content  {
  padding: 0;
  margin-bottom: 40px;
}
.rem-single-listing-1 .rem-directions-btn  {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 12px;
  z-index: 99;
}

.rem-single-listing-1 .rem-recent-properties .rem-widget-list img {
  max-width: 105px !important;
}
#rem-property-content .detail {
  margin-bottom: 15px;
  display: inline-block;
  font-size: 15px;
}
.rem-thumbnails {
  width: 60px;
  max-width: 100% !important;
  height: 60px;
  padding: 2px;
  cursor: pointer;
  outline: none;
}
.rem-slider-thumbnails .slick-current .rem-thumbnails {
  border: 2px solid;
  padding: 0;
}

.rem-additional-images img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
}

.rem-additional-images-title {
  font-weight: bold;
}

.rem-open-gallery {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.rem-flex-gallery-wrap .rem-gallery-container {
    display: flex;
    margin: 20px auto;
    gap: 10px;
}

.rem-flex-gallery-wrap .rem-gallery-left-image {
    flex: 1;
}

.rem-flex-gallery-wrap .rem-gallery-left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.rem-flex-gallery-wrap .rem-gallery-right-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rem-flex-gallery-wrap .rem-gallery-row {
    display: flex;
    gap: 10px;
    flex: 1;
}

.rem-flex-gallery-wrap .rem-gallery-row a {
    flex: 1;
    display: block;
}

.rem-flex-gallery-wrap .rem-gallery-row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.rem-flex-gallery-wrap .rem-gallery-buttons {
display: flex;
  flex-direction: row;
  flex-wrap-mobile: wrap;
  gap: 20px;
  margin: 20px auto;
}

.rem-flex-gallery-wrap .rem-gallery-button {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  padding: 12px 30px;
  border-style: solid;
  border-width: 1px;
}

.rem-flex-gallery-wrap .rem-gallery-row:not(.rem-gallery-row:has(.rem-popup-gallery)) {
  display: none;
}

#rem-single-property-style-2 .rem-inline-info li {
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #e2e2e2;
}

#rem-single-property-style-2 li a i {
  margin-right: 5px;
}

#rem-single-property-style-2 .rem-inline-info li:last-child {
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#rem-single-property-style-2 .rem-title-area {
  background-color: #FAF3EC;
  padding: 50px 0;
  margin-bottom: 20px;
}

#rem-single-property-style-2 .rem-title-line-wrap {
  display: flex;
  align-content: center;
  align-items: center;
  align-self: auto;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 20px;
}

#rem-single-property-style-2 .rem-title-line-wrap h1 {
  margin: 0;
  font-size: 50px;
}

#rem-single-property-style-2 .rem-title-line-wrap span {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .3em;
  background-color: #E34B2A;
  color: #FFF;
  padding: 5px 15px;
}
#rem-single-property-style-2 .rem-title-area .rem-inline-info {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}
#rem-single-property-style-2 .rem-section-box .row > div {
  width: 100% !important;
}
#rem-single-property-style-2 .rem-section-box .rem-single-field-sep {
  display: none;
}
#rem-single-property-style-2 .rem-section-box .rem-field-value {
  display: flex;
  font-size: 16px;
  border-bottom: 1px solid #ededed;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
#rem-single-property-style-2 .rem-section-box .rem-single-field-title,
#rem-single-property-style-2 .rem-section-box .rem-single-field-value {
  width: 50%;
  font-weight: normal;
}
#rem-single-property-style-2 .rem-contact-area {
  background-color: #F7F7F7;
  padding: 50px 0;
  margin-top: 20px;
}
#rem-single-property-style-2 .contact-form-wrap {
  margin-top: 15px;
}
#rem-single-property-style-2 .rem-description-area .desc-title {
  margin-top: 0;
}
#rem-single-property-style-2 .inline-property-icons .rem-info {
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  margin-left: 0;
  border-right: 1px solid #e2e2e2;
  font-size: 15px;
}
#rem-single-property-style-2 .inline-property-icons .rem-info:last-child {
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
@media only screen and (max-width: 768px){
  #rem-single-property-style-2 .rem-title-line-wrap {flex-direction: column;}
  #property-content .large-price {font-size: 16px;}
}

.slick-custom img { 
    opacity: 0;
}
.slick-custom.slick-initialized img { 
    opacity: 1;
}